body {
  padding: 0 0;
}

.first-section {
  padding-top: 400px;
  padding-left: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(https://lh3.googleusercontent.com/pw/AM-JKLXYKC2rTlG8PYlUz29dnbgH93u2yco5eiAftLWbeadoNxpFhe0DvpgMUKJZY2nNEWLQlgdS9KFWwsiz9T892mJUgtFcoF0Gs9ZFqhD2C3UDGQxo6WxsXiO_O79UQubwwdUCijChIU2sMsmMDnsvRVB6=w953-h635-no?authuser=0);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-img {
  width: 200px;
  display: none;

  transform: rotate(25deg);
  margin-left: 100px;
}
.head-sec {
  text-align: center;
  padding-bottom: 25px;
}
.why-us {
  text-align: center;
}
.rev-h3 {
  padding-top: 50px;
  text-align: center;
}
h5 {
  text-align: center;
  padding-bottom: 20px;
}
.rev-p {
  text-align: justify;
}
.rev-customers {
  padding-top: 20px;
}
.tel-num,
.mail {
  text-decoration: none;
}
.contact-us {
  text-align: center;
}
#menu {
  text-align: center;
  background-color: #bde0fe;
  padding-bottom: 20px;
}
.sec-section {
  background-color: #34a0a4;
  padding-top: 40px;
}
#reviews,
#con-us {
  background-color: #c7d6d5;
}
nav {
  background-color: #ffc8dd;
}
h2 {
  font-family: "Lato", sans-serif;
}
h4 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
#hov-ic:hover {
  color: #ef233c;
}
#brand-name {
  font-family: "Lato", sans-serif;
}
.carousel-item {
  text-align: center;
  margin-top: 40px;
}
#reviews {
  background-color: #00afb9;
}
.membership {
  text-align: center;
  margin-top: 20px;
}
#price-row {
  text-align: center;
}
.cus-name {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}
.cus-rev {
  font-family: "Lato", sans-serif;
}
.food-img:hover {
  filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.price-tab {
  background-color: #8d99ae;
}
